<mat-toolbar color = 'primary'>
   <span><a routerLink="/">Messages</a></span>
   <span class = 'spacer'></span>
   <ul>
    <li><a routerLink="/create" mat-button routerLinkActive='mat-accent'>Create</a></li>
    <li><a routerLink="/login" mat-button routerLinkActive='mat-accent'>Login</a></li>
    <li><a routerLink="/signup" mat-button routerLinkActive='mat-accent'>Signup</a></li>
   </ul>
</mat-toolbar>
