<mat-spinner *ngIf="isloading"></mat-spinner>
<br>
<form *ngIf="!isloading" (submit)="onSignup(form)" #form="ngForm">
    <mat-form-field>
      <input matInput type='email' placeholder="Enter Your Email ID" name = 'email' ngModel #emailInput='ngModel'>
    </mat-form-field>
      <br>
      <br>
    <mat-form-field>
      <input matInput type='password' placeholder="Enter Your Password" name = 'password' ngModel #passwordInput='ngModel'>
      <br>
    </mat-form-field>
      <br>
    <button class = 'btn btn-large btn-danger'>Signup</button>
</form>

