mat-form-field{
width: 100%;
}

input{
  margin-bottom: 20px;
  color: black;
  font-size: 1.2rem;
}

textarea{
  color: black;
  font-size: 1.2rem;
}

input[type = 'file']{
  visibility: hidden;
}

.image-preview{
  height: 10rem;
  margin: 1rem 0;
}

.image-preview img{
  height: 100%;
}
