  <h2>App is Running</h2>
  <mat-spinner *ngIf="isloading"></mat-spinner>
  <br>
  <form (submit)="savePost()"  [formGroup] = 'form' *ngIf="!isloading">
      <input matInput type='text' placeholder="Enter the title" name = 'title' [formControlName]="'title'">
      <br>
     <div>
        <button mat-stroked-button type='button' (click)="fileinput.click()">Upload Image</button>
        <input type = 'file' #fileinput (change)="onImageUpload($event)">
     </div>
     <div class = 'image-preview' *ngIf="imagePreview && imagePreview !== '' && !form.get('image').invalid">
        <img [src]="imagePreview" [alt]="form.value.title">
     </div>
      <br>
      <mat-form-field>
        <textarea matInput
        rows="8" placeholder="Enter The Text Here" name = 'content' [formControlName]="'content'"></textarea>

      </mat-form-field>

      <br>

      <button class = 'btn btn-large btn-success'>Submit</button>
  </form>

