/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
   margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
   background: url('https://cdn.pixabay.com/photo/2016/12/01/20/17/texture-1876097__340.jpg');
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   z-index: 0;
   opacity: 0.8;
}
