<mat-spinner *ngIf='isloading'></mat-spinner>
<div *ngIf='posts.length > 0 && !isloading'>
 <mat-accordion>
    <mat-expansion-panel *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <div class = 'post-image'>
        <img [src]="post.imagePath" [alt]="post.title">
      </div>

      <p>
       {{ post.content }}
      </p>

      <mat-action-row>
        <a mat-button color="primary" [routerLink] = "['/edit' , post.id]">EDIT</a>
        <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
      </mat-action-row>

    </mat-expansion-panel>
   </mat-accordion>
   <mat-paginator [length] = "totalPosts" [pageSize] = "pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)">

   </mat-paginator>
</div>

<div *ngIf='posts.length <= 0 && !isloading'>
<p>No Posts Available</p>
</div>
